<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_print_gateway_main"
              name="Print Gateway"
              sequence="90"
              action="action_print_gateway_config"
              web_icon="print_gateway,static/description/icon.png"
              groups="base.group_user"/>
    <menuitem id="menu_print_gateway_config"
              name="Gateway Configuration"
              parent="menu_print_gateway_main"
              action="action_print_gateway_config"
              sequence="10"
              groups="base.group_user"/>
    <menuitem id="menu_print_gateway_bindings"
              name="Print Bindings"
              parent="menu_print_gateway_main"
              action="action_print_gateway_binding"
              sequence="20"
              groups="base.group_user"/>
    <menuitem id="menu_print_gateway_policies"
              name="Print Policies"
              parent="menu_print_gateway_main"
              action="action_print_gateway_policies"
              sequence="25"
              groups="base.group_user"/>
    <menuitem id="menu_print_gateway_jobs"
              name="Print Jobs"
              parent="menu_print_gateway_main"
              action="action_print_gateway_jobs"
              sequence="30"
              groups="base.group_user"/>
    <menuitem id="menu_print_gateway_intents"
              name="Print Intents"
              parent="menu_print_gateway_main"
              action="action_print_gateway_intents"
              sequence="35"
              groups="base.group_user"/>
</odoo>
